// Breakpoints
$breakpoint-tablet: 768px;

// Colors
:root {
  --background: #282c34;
  --text-color: #ffffff;
  --button-text-color: #ffffff;
  --button-color: #0277bd;
  --button-hover-color: #015384;
  --toggle-switch-background: #bdc3c7;
  --toggle-switch-circle: #282c34;
  --alert-color: grey;
  --alert-error-color: #d15353;
  --unopened-box-color: rgba(199, 215, 255, 70%);
  --opened-box-color: rgba(63, 69, 109, 70%);
  &[data-theme="theme-light"] {
    --background: white;
    --text-color: #282c34;
    --button-text-color: #ffffff;
    --button-color: #0277bd;
    --button-hover-color: #015384;
    --toggle-switch-background: grey;
    --toggle-switch-circle: white;
    --alert-color: grey;
    --alert-error-color: #d15353;
    --unopened-box-color: rgba(31, 37, 76, 70%);
    --opened-box-color: rgba(167, 177, 202, 70%);
  }
}
