$breakpoint-tablet: 768px;
:root {
  // Colors
  --background: #282c34;
  --text-color: #ffffff;
  --button-text-color: #ffffff;
  --button-color: #0277bd;
  --button-hover-color: #015384;
  --toggle-switch-background: #bdc3c7;
  --toggle-switch-circle: #282c34;
  --alert-color: grey;
  --alert-success-color: #25a525;
  --alert-error-color: #d15353;
  --alert-text-color: #ffffff;
  --unopened-box-color: rgba(199, 215, 255, 70%);
  --opened-box-color: rgba(63, 69, 109, 70%);
  --box-one-color: #0094ff;
  --box-two-color: #35ad35;
  --box-three-color: #de3e3e;
  --box-four-color: #ff8181e6;
  --box-five-color: #f5f532;
  --box-six-and-above-color: #949494;

  // Light mode
  &[data-theme="theme-light"] {
    --background: white;
    --text-color: #282c34;
    --button-text-color: #ffffff;
    --button-color: #0277bd;
    --button-hover-color: #015384;
    --toggle-switch-background: grey;
    --toggle-switch-circle: white;
    --alert-color: grey;
    --alert-success-color: #25a525;
    --alert-error-color: #d15353;
    --alert-text-color: #ffffff;
    --unopened-box-color: rgba(31, 37, 76, 70%);
    --opened-box-color: rgba(167, 177, 202, 70%);
    --box-one-color: #0094ff;
    --box-two-color: #35ad35;
    --box-three-color: #de3e3e;
    --box-four-color: #ff8181e6;
    --box-five-color: #f5f532;
    --box-six-and-above-color: #949494;
  }
}
