@use "../../styles/variables";

.Menu {
}

.settings {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 1.875rem;
}

.setting {
  &:not(:first-child) {
    margin-top: 1rem;
  }
  > p {
    margin: 0;
  }
  > input {
    margin-top: 0.5rem;
  }
}

.createButton {
  margin-top: 0.5rem;
}
