@use "../../styles/variables";

.boxbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 2px;
  color: inherit;
  @media (min-width: variables.$breakpoint-tablet) {
    width: 45px;
    height: 45px;
  }
}

.unopened,
.flagged {
  background-color: var(--unopened-box-color);
}

.opened {
  background-color: var(--opened-box-color);
}

.one {
  color: var(--box-one-color);
}

.two {
  color: var(--box-two-color);
}

.three {
  color: var(--box-three-color);
}

.four {
  color: var(--box-four-color);
}

.five {
  color: var(--box-five-color);
}

.six,
.seven,
.eight {
  color: var(--box-six-and-above-color);
}
