@use "../../styles/variables";

.button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  color: var(--button-text-color);
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 20px;
  &:hover {
    background-color: var(--button-hover-color);
  }
}
