@use "../../styles/variables";

.alert {
  background: variables.$alert-color;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 2rem;
  border-radius: 4px;
}

.error {
  background: variables.$alert-error-color;
}
